<!-- footer -->
<footer id="footer">
    <section id="footer__info">
        <div class="container">
            <div class="row  d-flex justify-content-between" id="footer-menu">
                <div class="col-md-3 col-sm-12">
                    <h5>Về chúng tôi</h5>
                    <img src="../static/img/ft-img.png" alt="">
                    <p>Sản phẩm của chúng tôi được thu hoạch mới, đóng hộp <span>[...]</span></p>
                </div>
                <div class="col-md-2 col-sm-12">
                    <h5>Thông tin</h5>
                    <ul class="dot">
                        <li><a href="#">Sản phẩm mới</a></li>
                        <li><a href="#">Sản phẩm bán chạy</a></li>
                        <li><a href="#">Tin tức</a></li>
                        <li><a href="#">Cửa hàng của chúng tôi</a></li>
                        <li><a href="#">Về chúng tôi</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-12">
                    <h5>Công ty TNHH XNK Long Thành</h5>
                    <ul class="dot">
                        <li> <a href="tel:0123456789" class="hotline"> <i class="fas fa-phone-alt"></i> 0123456789 </a></li>
                        <li> <a href="mailto:info@alwayfresh.com.vn" class="mail-company"> <i class="fas fa-envelope"></i> info@alwayfresh.com.vn </a></li>
                        <li> <a href="#" class="address-company"> <i class="fas fa-map-marker-alt"></i> 120 Triệu Việt Vương, Hai Bà Trưng, Hà Nội </a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr class="divider">
            <div class="row d-flex align-items-center justify-content-between ">
                <div class="col-md-4 col-sm-12 social">
                    <span>Follow us</span>
                    <a href="https://www.facebook.com/thatfruit120" class="link-facebook"><i class="fab fa-facebook-square"></i></a>
                    <a  class="link-twitter"><i class="fab fa-twitter-square"></i></a>
                    <a  class="link-youtube"><i class="fab fa-youtube"></i></a>
                    <a  class="link-instagram"><i class="fab fa-instagram"></i></a>
                </div>
                <div class="col-md-5 col-sm-12 ecommerce">
                    <a href="https://tiki.vn"><img src="../static/img/tiki.png" alt=""></a>
                    <a href="https://shopee.vn"><img src="../static/img/shopee.png" alt=""></a>
                    <a href="https://www.sendo.vn"><img src="../static/img/Sendo.png" alt=""></a>
                    <a href="https://www.grab.com/vn"><img src="../static/img/grapfood.png" alt=""></a>
                    <a href="https://www.lazada.vn"><img src="../static/img/ladaza.png" alt=""></a>
                </div>
            </div>
        </div>
    </section>
    <section id="footer__copyright">
        <div class="container">
            <div class="row ">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <p class="m-0"> &copy Bản quyền thuộc về Thật Fruit</p>
                </div>
            </div>
        </div>
    </section>
</footer>
<!-- end footer -->