<section id="search-area">
    <div class="container ">

        <div class=" content-search row">
            <div class="input-group col-lg-6 col-md-12">
                <div class="ipg-wp">
                    <input type="text" class="  search-query form-control" id="searchHeader" placeholder="Tìm kiếm sản phẩm" />
                    <span class="input-group-btn">
                        <button class="btn" type="button">
                            <i id="clickSearch" class="fas fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="header-right col-lg-6 col-md-12">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample08"
                        aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
                </button>
                <div class=" logo">
                    <a href="{{url_for('home')}}" class="logo-company"><img src="https://i.ibb.co/G0m3WNt/logothatfruit.png" alt="ThatFruit"></a>
                </div>
                <div id="car1" class="cart1">
                    <button class="card-item1 btn card1" type="button">
                        <i class="fas fa-cart-arrow-down"></i><span> 0sp-</span> <span>0 VNĐ</span>
                    </button>
                </div>
            </div>


        </div>
    </div>
</section>